NEXT_PUBLIC_SUPABASE_URL=https://tjlsudlsgehrdedarvhh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqbHN1ZGxzZ2VocmRlZGFydmhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2NzMwMjksImV4cCI6MjA4ODI0OTAyOX0.RJFazkQaPU6unFXCYjdfPbK1al3kxFhFqo4JMsr1pP0
